*{
  margin: 0;
  padding: 0;
}

/*Header*/
.header {
  background-color: #1F1E28;
  height: 20vh;
  position: sticky;
  top: 0;
}

.logo {
  margin: 32px;
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  float: left;
}

.menu-1 {
  list-style: none;
  float: right;
  margin: 32px;
}

.menu-1 li {
  display: inline;
}

.menu-1 li a{
  text-decoration: none;
  color: #C8D2DB;
  font-size: 19px;
  font-family: sans-serif;
  padding: 0 15px;
}

.btn-log {
  height: 49px;
  border: #2AA7FD solid 1px;
  border-radius: 5px;
  color: #2AA7FD;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  padding: 0 45px;
}

.btn-log:hover {
  background-color: white;
  cursor: pointer;
}

.btn-reg {
  height: 49px;
  border: #2AA7FD solid 1px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: #2AA7FD;
  padding: 0 45px;
}

.btn-reg:hover {
  filter: brightness(1.1);
  cursor: pointer;
}
/*Main*/

/*segment 1*/

.segment-1 {
  background-color: #1F1E28;
  padding: 25px 80px;
  text-align: center;
  margin-top: 0;
  padding-bottom: 100px;
}

.segment-1 h1 {
  font-size: 80px;
  color: white;
  font-family: sans-serif;
  margin: 0;
}

.segment-1 h2 {
  font-size: 30px;
  color: #C8D2DB;
  margin: 20px;
}
.segment-1 span{
  color: white;
}

.btn-seg-1 {
  height: 50px;
  width: 380px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  background-color: #2493DF;
  width: 380px;
}

.btn-seg-1:hover {
  background-color: #2AA7FD;
  cursor: pointer;
}

.orDiv {
  font-size: 20px;
  color: #FFFFFF;
  width: 380px;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
}

/*URL:https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle*/
.orDiv:before, .orDiv:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.orDiv:before {
  margin-right: 20px
}
.orDiv:after {
  margin-left: 20px
}

.seg-1-container {
  width: 380px;
  margin: 0 auto;
  display: flex;
}

.btn-seg-1-goog, .btn-seg-1-face {
  height: 50px;
  width: 170px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.btn-seg-1-goog {
  background-color: #D9392B;
}

.btn-seg-1-goog:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.btn-seg-1-face {
  background-color: #395493;
  margin-left: 40px;
}

.btn-seg-1-face:hover {
  background-color: #2B4685;
  cursor: pointer;
}

/*segment-2*/
.segment-2 {
  background-color: #F2F5F7;
  text-align: center;
  padding-bottom: 100px;
}

.segment-2-container-1, .segment-2-container-2{
  height: auto;
  display: flex;
  margin: 100px 50px 0 50px;
}

.sg-2-box-1, .sg-2-box-2, .sg-2-box-3, .sg-2-box-4,  .sg-2-box-5, .sg-2-box-6 {
  background-color: #FFFFFF;
  padding-top: 90px;
  padding-bottom: 50px;
  width: 30%;
}

.sg-2-box-4 {
  text-align: left;
}

.sg-2-box-1 h2, .sg-2-box-2 h2, .sg-2-box-3 h2, .sg-2-box-4 h2, .sg-2-box-6 h2{
  font-family: sans-serif;
  color: #2D3846;
  font-size: 40px;
}

.sg-2-box-4 h2 {
  padding-left: 20px;
}

.sg-2-box-1 p, .sg-2-box-2 p, .sg-2-box-3 p, .sg-2-box-4 p, .sg-2-box-6 p {
  padding: 15px 20px;
  color: #8091A7;
  font-size: 20px;
}

.sg-2-box-4 p {
  padding-left: 20px;
}

.sg-2-box-1 p span, .sg-2-box-2 p span, .sg-2-box-3 p span, .sg-2-box-4 p span, .sg-2-box-6 p span {
  color: #6B7F99;
  font-weight: bold;
}

.sg-2-box-2 {
  margin: 0 5%;
}

.sg-2-box-7 {
  background-color: #FFFFFF;
  width: 5%;
}

.sg-2-box-5 {
  margin-right: 5%;;
}

/*segment-3*/

.segment-3 {
  background-color: #FFFFFF;
  height: 100vh;
  text-align: center;
  padding-top: 150px;
}

.segment-3 h1 {
  font-size: 60px;
  width: 900px;
  font-family: sans-serif;
  margin: 0 auto;
  color: #2D3846;
  padding-bottom: 150px;
}

.segment-3-container {
  height: 40vh;
  display: flex;
  margin: 0 75px;
}

.segment-3-container h2 {
  color: #2D3846;
  font-size: 40px;
  font-family: sans-serif;
}

.segment-3-container p {
  color:#6B7F99;
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif;
  padding-top: 20px;
  margin: 0 50px;
  width: 500px;
}

/*segment-4*/

.segment-4 {
  background-color: #F2F5F7;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.segment-4 h1 {
  font-size: 40px;
  font-family: sans-serif;
  color: #2D3846;
  width: 500px;
  margin: 0 auto 50px;
}

.segment-4 span {
  font-size: 80px;
  font-weight: bold;
  font-family: sans-serif;
  color: #2493DF;
}

.segment-4 p {
  font-size: 20px;
  font-family: sans-serif;
  color: #6B7F99;
  width: 750px;
  line-height: 30px;
  margin: 50px auto 0;
}

/*segment-5*/

.segment-5 {
  background-color: #FFFFFF;
  height: 20vh;
  text-align: center;
  font-family: sans-serif;
}

.segment-5 p {
  font-size: 25px;
  font-weight: bold;
  color: #2D3846;
  margin-top: 7vh;
}

#first-span{
  width: 300px;
  display: inline-block;
}

#first-span::before {
  content: '';
  animation: animate infinite linear 14s;
}

@keyframes animate{
  0% {
      content: 'Baristas';
    }
    17%{
      content: 'IT Coordinators';
    }
    33%{
      content: 'Construction Workers';
    }
    50%{
      content: 'Accountants';
    }
    67%{
      content: 'Designers';
    }
    83%{
      content: 'Delivery Drivers';
    }
    100%{
      content: 'Product Managers';
    }
}

#second-span{
  color: #2493DF;
}

/*segment-6*/

.segment-6 {
  background-color: #F2F5F7;
  height: 120vh;
  text-align: center;
  font-size: 19px;
  padding-top: 50px;
}

.segment-6 h1 {
  font-size: 60px;
  font-family: sans-serif;
  color: #2D3846;
  width: 300px;
  margin: 0 auto;
}

.segment-6 h1 span {
  background-color: #DCEBF5;
  color: #2493DF;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  font-weight: normal;
}

.segment-6 h1 span::after {
  animation: blink 2s steps(10) infinite;
  content: "";
  width: 3px;
  height: 40px;
  background: #2D3846;
  display: inline-block;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.segment-6a {
  height: auto;
  display: flex;
  margin: 100px 50px 0 50px;
}

.sg-6-box-1, .sg-6-box-2, .sg-6-box-3 {
  background-color: #FFFFFF;
  padding-top: 90px;
  padding-bottom: 50px;
  width: 30%;
}


.sg-6-box-1 h2, .sg-6-box-2 h2, .sg-6-box-3 h2 {
  font-family: sans-serif;
  color: #2D3846;
  font-size: 40px;
}

.sg-6-box-1 p, .sg-6-box-2 p, .sg-6-box-3 p {
  padding: 15px 20px;
  color: #8091A7;
  font-size: 20px;
}

.sg-6-box-1 p span, .sg-6-box-2 p span, .sg-6-box-3 p span {
  color: #6B7F99;
  font-weight: bold;
}

.sg-6-box-2 {
  margin: 0 5%;
}

.segment-6b {
  margin: 60px auto;
  color: #778AA2;
  font-family: sans-serif;
  font-size: 19px;
  width: 670px;
}

.btn-seg-6 {
  border: none;
  border-radius: 5px;
  background-color: #2493DF;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  height: 50px;
  width: 340px;
  margin-top: 40px;
  }

.btn-seg-6:hover {
  background-color: #2AA7FD;
  cursor: pointer;
}

/*segment-7*/

.segment-7 {
  background-color: #2D3846;
  font-family: sans-serif;
  height: 135vh;
  padding-top: 150px;
}

.segment-7 h1 {
  font-size: 75px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 80px;
}

.segment-7 h1 span {
  background-color: #FBB461;
  color: #6A4315;
  border-radius: 50px;
  font-size: 30px;
  padding: 10px 20px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.segment-7-container {
  display: flex;
  text-align: left;
  margin: 0 55px;
  margin-top: 100px;
}

.segment-7-left-box, .segment-7-mid-box, .segment-7-right-box {
    border: solid #7F8995 1px;
    border-radius: 10px;
    width: 30%;
    padding: 40px;
}

.segment-7-mid-box {
    margin: 0 2.5%;
}

.segment-7-left-box h2, .segment-7-mid-box h2, .segment-7-right-box h2 {
  color: #FFFFFF;
  font-size: 30px;
  padding-bottom: 30px;
}

.segment-7-left-box span, .segment-7-mid-box span, .segment-7-right-box span {
  font-size: 70px;
  font-weight: bold;
  color: #FBB461;
}

.segment-7-left-box p, .segment-7-mid-box p, .segment-7-right-box p {
  font-size: 20px;
  color: #C8D2DB;
}

.segment-7-left-box p span, .segment-7-mid-box p span, .segment-7-right-box p span {
  font-size: 20px;
  font-weight: normal;
}

.segment-7-list-container {
  text-align: center;
  margin-top: 80px;
}

.segment-7-top-list, .segment-7-bottom-list {
  list-style: none;
  color: #FBB461;
  width: 1200px;;
  margin: 0 auto;
}

.segment-7-top-list li, .segment-7-bottom-list li {
  display: inline;
  font-size: 25px;
  font-weight: bold;
  padding-right: 60px;
  line-height: 60px;
}

.segment-7-top-list li:last-child, .segment-7-bottom-list li:last-child{
  padding-right: 0;
}

.check {
  padding-right: 10px;
}

.btn-seg-7 {
  display: block;
  margin: 50px auto;
  height: 60px;
  width: 700px;
  font-size: 20px;
  font-weight: bold;
  color: #6A4315;
  border: none;
  border-radius: 5px;
  background-color: #FBB461;
}

.btn-seg-7:hover {
  cursor: pointer;
}

/*segment-9*/

.segment-9 {
  background-color: #F2F5F7;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.segment-9 h1 {
  font-size: 60px;
  font-family: sans-serif;
  color: #2D3846;
  margin: 0 80px;
}

/*segment-10*/

.segment-10 {
  background-color: #1F1E28;
  height: 700px;

}
.segment-10 h1 {
  color: white;
  padding-top: 200px;
  text-align: center;
  font-family: sans-serif;
  font-size: 60px;
}

.btn-seg-10 {
  height: 50px;
  width: 480px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  background-color: #2493DF;
  margin: 50px 430px 200px;
}

.btn-seg-10:hover {
  background-color: #2AA7FD;
  cursor: pointer;
}

.segment-10-menu {
  height: 120px;
  margin-left: 20px;
}

.segment-10-container {
  display: flex;
  margin-top: 30px;
}

.block {
  margin-right: 50px;
  width: auto;
  display: flex;
}

.block p{
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  font-family: sans-serif;
  color: white;
  padding-left: 15px;
}

.block img {
  height: 35px;
  width: 35px;
  margin-top: 5px;
}

.store img{
  height: 35px;
  width: auto;
  margin: 5px 25px 0 0;
}

.face img, .tweet img, .yt img {
  height: 30px;
  width: auto;
}

/*Footer*/

.footer {
  margin: 0;
  background-color: #18171D;
  height: 15vh;
}

.footer p {
  color: #5A6776;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  float: right;
  margin-right: 25px;
  margin-top: 35px;
}

.footer p span {
  color: #FFFFFF;
}

.fa {
  font-size: 19px;
  color: #9F3234;
}

.bottom-menu {
  list-style: none;
  margin-left: 25px;
  margin-top: 35px;
  float: left;
}

.bottom-menu li {
  display: inline-block;

}

.bottom-menu li a{
  text-decoration: none;
  color: #5A6776;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  padding-right: 5px;
}

.bottom-menu li a span {
  color: #FFFFFF;
  font-size: 10px;
  background-color: #2493DF;
  padding: 2px 8px;
  border-radius: 10px;
  line-height: 16px;
  display: inline-block;
  vertical-align: middle;
}
